.noticias-header {
  background-color: #1a1a1a;
  box-shadow: 0 0 30px rgba(0, 204, 255, 0.5);
  color: white;
  padding: 4rem 0;
}

.noticia-card {
  border-left: 4px solid var(--color-primario);
  transition: transform 0.3s ease;
}

.noticia-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
